--extra-index-url https://download.pytorch.org/whl/cu118

# Pytorch
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

# Crawling & Scraping
requests
beautifulsoup4
lxml
tqdm
selenium
webdriver-manager

# Data Processing
pandas
numpy<2
python-dateutil

# Hugging Face
transformers==4.44.2
datasets==2.20.0
accelerate==0.33.0
peft
bert-score
tensorboard 

# Developmenting
jupyter

# Evaluation
bert-score=0.3.13